{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待收货订单列表</h3>

    <ul>
        <!--订单信息展示-->
        {% for order1 in orders1 %}
            <li>
                <a href="">
                    <p>订单id:{{ order1.id }}</p>
                    {% for order2 in order1.ordergoodsmodel_set.all %}
                        <p>商品数量:{{ order2.goods_num }}</p>

                        <!--展示商品的名称-->{{ order2.goods.product_long_name}}

                        <li>
                            <img src="{{ order2.goods.product_img }}" alt="">
                        </li>
                        <!--处理结束-->
                    {% endfor %}
                </a>
            </li>
        <!--订单处理结束-->
        {% endfor %}


    </ul>


{% endblock %}
