{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/home/home.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/home/js/home.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="home">
        {#   顶部轮播       #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                <!--处理轮播banner图-->
                {% for w in wheel %}
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ w.img }}" alt="">
                        </a>

                    </div>
                {% endfor %}
                <!-- 处理结束 -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

        </div>
        {#         导航         #}
        <div class="topMenu">

            <nav>
                <ul>
                    {% for n in nav %}
                        <!-- 处理导航数据 -->
                        <li>
                            <img src="{{ n.img }}" alt="">
                            <span></span>
                        </li>
                    {% endfor %}
                    <!--处理结束-->
                </ul>
            </nav>

        </div>
        {#         必购     #}
        <div id="swiperMenu" class="swiper-container">

            <ul class="swiper-wrapper">
                {% for m in mustbuy %}
                    <!-- 处理必购商品信息 -->
                    <li class="swiper-slide">
                        <img src="{{ m.img }}" alt="">
                    </li>
                    <!-- 处理结束 -->
                {% endfor %}

            </ul>

        </div>
        {#          商店    #}
        <div class="CVS">

            <!--处理第一个店铺的数据的图片-->
            <h2>
                <img src="{{ shop.first.img }}" alt="">
            </h2>
            <!--处理结束-->

            <fieldset>
                {% for s in shop %}
                    <!--处理第二个到第三个数据-->
                    {% if s.id == 2 or s.id == 3 %}
                        <a href="#">
                            <img src="{{ s.img }}" alt="">
                        </a>
                    {% endif %}
                    <!--处理结束-->
                {% endfor %}
            </fieldset>

            <ul>
                {% for s in shop %}
                    <!--处理第四个到第七个数据-->
{#                    {% if s.id == 4 or s.id == 5 or s.id == 6 or s.id == 7 %}#}
                    {% if forloop.counter > 3 and forloop.counter < 8 %}
                        <li>
                            <a href="#">
                                <img src="{{ s.img }}" alt="">
                                <span></span>
                            </a>
                        </li>
                    {% endif %}
                    <!--处理结束-->
                {% endfor %}

            </ul>

            <ol>
                {% for s in shop %}
                    <!--处理第八个到第十一个数据-->
{#                    {% if s.id == 8 or s.id == 9 or s.id == 10 or s.id == 11 %}#}
                    {% if forloop.counter > 7 and forloop.counter < 12 %}
                        <li>
                            <a href="#">
                                <img src="{{ s.img }}" alt="">
                            </a>
                        </li>
                    {% endif %}
                    <!--处理结束-->
                {% endfor %}

            </ol>

        </div>

        {#         主要显示 #}

        <div class="mainInfo">
            {% for g in mainshow %}
                <!--商品展示-->
                <section>
                    <h3>{{ g.name }}<span></span><a href="#">更多&gt;</a></h3>

                    <div>
                        <a href="#">
                            <img src="{{ g.img }}" alt="">
                        </a>
                    </div>

                    <ul>

                        <li>
                            <a href="#">
                                <img src="{{ g.img1 }}" alt="">
                                <p class="description">

                                </p>
                                <span>￥{{ g.price1 }}</span>
                                <s>￥{{ g.market_price1 }}</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ g.img2 }}" alt="">
                                <p class="description">

                                </p>
                                <span>￥{{ g.price2 }}</span>
                                <s>￥{{ g.market_price2 }}</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ g.img3 }}" alt="">
                                <p class="description">

                                </p>
                                <span>￥{{ g.price2 }}</span>
                                <s>￥{{ g.market_price3 }}</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>


                    </ul>

                </section>
                <!--商品展示结束-->
            {% endfor %}


        </div>
    </div>

{% endblock %}
